
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <h1>Hello!</h1>
    <p>
        Welcome back <u>@Html.Raw(HttpContext.Current.Session["userName"])</u>. Just you know, you have the <u>@Html.Raw(HttpContext.Current.Session["empType"])</u> privilege level.
    </p>
</div>

